.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color:#C48BFA;
    border-radius: 37px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
    font-style: impact;
    font-style: normal;
}

.banner Img{
    position: relative;
    float: right;
    right: 790px;
    height: 75px;
    border-radius: 37px;
}


body {  background-image: url("arcos4.png");
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;




   }
.pie{float: top;
    top:500px}
.chart{float: top;
    top:500px}